@tailwind base;
@tailwind components;
@tailwind utilities;


/* primary color : #1F1E24 
   secondary color : #FF671F
*/

::-webkit-scrollbar{
   display: none;
}

select{
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   outline: 0;
   box-shadow: none;
   border: 0 !important;
   background: #27272a;
   background-image: none;
   flex: 1;
   padding: 0 1em;
   color: #fff;
   cursor: pointer;
   font-size: 1em;

}
select::-ms-expand{
   display: none;
}
.select{
   position: relative;
   display: flex;
   width: 15em;
   height: 3em;
   line-height: 3;
   background: #27272a;
   overflow: hidden;
   border-radius: 0.75em;
}
.select::after{
   content: "\25BC";
   position: absolute;
   top: 0;right: 0;
   padding: 0 1em;
   background: #27272a;
   cursor: pointer;
   pointer-events: none;
   transition:  0.25s all ease;
}
.select:hover::after{
   color:#FF671F;
}